.championsLeague {
  background-image: url("https://wallpapers.com/images/hd/uefa-champions-league-star-bowl-rlsrfh81jsb88ed1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 645px;
}
.championsLeagueChildren{
    padding-left: 10px;
    padding-top: 20px;
}