.bundesliga2{
    position: relative;
    background-image: url("https://metaratings.ru/upload/iblock/77a/77ad082f91ff4ac1a0a5b9f1cfc1e8a2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 645px;
}
.b{
    padding-top: 20px;
    padding-left: 10px;
}