.premierLeague {
  background-image: url("https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA10l7h6.img");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 645px;
}
.premierLeagueChildren {
padding: 20px 10px;
}
