.premierLeague {
  background-image: url("https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA10l7h6.img");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.premierLeagueChildren {
  padding-top: 20px;
  padding-left: 10px;
}

.content-tables {
  background-color: #009879;
  color: white;
  border-collapse: collapse;
  margin-top: 25px;
  padding-bottom: 25px;
  font-size: 1em;
  text-align: left;
}
.content-tables thead tr {
  background-color: aqua;
  font-weight: bold;
}

.content-tables th,
.content-tables td {
  padding: 10px;
  border-bottom: 1px solid white;
}
